<% if user_signed_in? %>
  <div class="p-3  header nav-bar sticky-top">
    <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <%= image_tag "Logo.png", class: "logo" %>
              </a>

              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <% if current_user.role %>
                  <li class="nav-li"><%= link_to 'Home', root_path, class: "nav-link px-2" %></li>
                  <li class="nav-li"><%= link_to 'Add Book', new_book_path, class: "nav-link px-2" %></li>
                  <li class="nav-li"><%= link_to 'Active Reservations', reservations_path, class: "nav-link px-2" %></li>
                  <li class="nav-li"><%= link_to 'Create Student Profile', create_student_path, class: "nav-link px-2" %></li>
                <% else %>
                  <li class="nav-li"><%= link_to 'Home', root_path, class: "nav-link px-2" %></li>
                  <li class="nav-li"><%= link_to 'Books', books_path, class: "nav-link px-2" %></li>
                  <li class="nav-li"><%= link_to 'My Reservations', my_reservations_path, class: "nav-link px-2" %></li>
                <% end %>
              </ul>

              <div class="dropdown text-end">
                <div>
                  <span class= "username"><%= current_user.first_name.capitalize %></span>
                  <%= link_to 'Log out', destroy_user_session_path, method: 'delete', class: "btn btn-ghost", id:"log-out" %>
                </div>
              </div>
            </div>
          </div>
  </div>
<% else %>
  <div class="p-3  header nav-bar sticky-top">
    <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <%= image_tag "Logo.png", class: "logo" %>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-li"><%= link_to 'Home', root_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Books', books_path, class: "nav-link px-2" %></li>
                <li class="nav-li"><%= link_to 'My Reservations', new_user_session_path, class: "nav-link px-2" %></li>
            </ul>

            <div>
              <%= link_to 'Log in', new_user_session_path, class: "btn btn-ghost", id:"log-in" %>
            </div>
          </div>
    </div>
  </div>
<% end %>
