<br>
<div class="container">
  <% @books.each do |book| %>
    <h2><%= book.title %></h2>
    <h3><%= book.author %></h3>
    <h3><%= book.published_year %></h3>
    <h3><%= book.genre %></h3>
    <h4><%= book.stock %></h4>
    <br>
  <% end %>
</div>
