
<div class="container-show-book">
    <div class="show-img">
      <%= image_tag "Book.png", class: "img-book-show" %>
    </div>
    <div class="book-data">
      <h4 class= title-book><strong><%=@book.title%></strong></h4>
      <p><strong>Author: </strong><%=@book.author%></p>
      <p><strong>Published: </strong><%=@book.published_year%></p>
      <p><strong>Genre: </strong><%=@book.genre%></p>
    <% if @book.stock == 0 %>
      <p><strong>This book is out of stock</strong></p>
    <% else %>
    <p><strong>stock: </strong><%=@book.stock%></p>
      <%= link_to "Reserve book", book_reservations_path(@book),class: "btn btn-ghost", id:"reserve-book", method: :post %>
    <% end %>
    </div>
</div>
<div class="container">
<%= link_to "Back", books_path, class: "btn btn-ghost", id:"log-out" %>
</div>
